<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DbHost" value="localhost" />
    <add key="DbPort" value="3306" />
    <add key="DbName" value="schoolmanagementsystem" />
    <add key="DbUser" value="root" />
    <add key="DbPassword" value="root" />
    <add key="DbMode" value="Local" />
    <add key="DbHostOnline" value="srv1237.hstgr.io" />
    <add key="DbPortOnline" value="3306" />
    <add key="DbNameOnline" value="u621755393_SchoolManSys" />
    <add key="DbUserOnline" value="u621755393_SchoolManSys" />
    <add key="DbPasswordOnline" value="SchoolManSys01" />
    <add key="DbSslModeOnline" value="Required" />
    <add key="DbSslCaPathOnline" value="" />
    <add key="BackupEncryptionKey" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SchoolDb"
         connectionString="Server=localhost;Port=3306;Database=schoolmanagementsystem;Uid=root;Pwd=root;SslMode=Preferred;AllowPublicKeyRetrieval=True;"
         providerName="MySqlConnector" />
  </connectionStrings>
</configuration>
