<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DbHost" value="localhost" />
    <add key="DbPort" value="3306" />
    <add key="DbName" value="schoolmanagementsystem" />
    <add key="DbUser" value="" />
    <add key="DbPassword" value="" />
    <add key="DbMode" value="Local" />
    <add key="DbHostOnline" value="" />
    <add key="DbPortOnline" value="3306" />
    <add key="DbNameOnline" value="" />
    <add key="DbUserOnline" value="" />
    <add key="DbPasswordOnline" value="" />
    <add key="DbSslModeOnline" value="Required" />
    <add key="DbSslCaPathOnline" value="" />
    <add key="BackupEncryptionKey" value="" />
    <add key="EnableDemoQuickLogin" value="false" />
    <add key="DemoQuickLoginAccounts" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SchoolDb"
         connectionString="Server=localhost;Port=3306;Database=schoolmanagementsystem;Uid=;Pwd=;SslMode=Preferred;AllowPublicKeyRetrieval=True;"
         providerName="MySqlConnector" />
  </connectionStrings>
</configuration>
