<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- Set these values to connect this laptop app to your Windows 10 DB host -->
        <add key="DbHost" value="192.168.1.107" />
        <add key="DbPort" value="3306" />
        <add key="DbName" value="schoolmanagementsystem" />
        <add key="DbUser" value="root" />
        <add key="DbPassword" value="root" />
    </appSettings>
    <connectionStrings>
        <!-- MySQL (Workbench / local server) -->
        <add name="SchoolDb"
             connectionString="Server=192.168.1.107;Port=3306;Database=schoolmanagementsystem;Uid=root;Pwd=root;SslMode=Disabled;AllowPublicKeyRetrieval=True;"
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
