<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!-- MySQL (Workbench / local server) -->
        <add name="SchoolDb"
             connectionString="Server=localhost;Port=3306;Database=SchoolManagementSystem;Uid=root;Pwd=root;SslMode=None;AllowPublicKeyRetrieval=True;"
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
