<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!-- Update Data Source / credentials as needed for your SQL Server instance -->
        <add name="SchoolDb"
             connectionString="Data Source=.;Initial Catalog=SchoolManagementSystem;Integrated Security=True;MultipleActiveResultSets=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
